<h1>Edit Flight</h1>
<div class="container">
  <%= simple_form_for [@flight] do |f| %>
    <%= f.input :capacity %>
    <%= f.input :date %>
    <%= f.input :departure %>
    <%= f.input :arrival %>
    <%= f.input :price %>
    <%= f.submit class: "btn btn-primary mt-4" %>
  <% end %>
</div>
