<div class="container pt-5">
<h3>Add your new flight :</h3>
  <%= simple_form_for [@flight] do |f| %>
    <%= f.input :capacity %>
    <%= f.input :date %>
    <%= f.input :departure, label: "Departure airport" %>
    <%= f.input :arrival, label: "Arrival airport" %>
    <%= f.input :price, label: "Price (per passenger)" %>
    <%= f.submit class: "btn btn-flat mt-4" %>
  <% end %>
</div>
