<div class="container pt-3">
  <div>
    <%= link_to "◁ Back to flights", flights_path, class: "btn btn-outline-dark mt-3 mb-3" %>
  </div>

  <%= simple_form_for :search, url: flights_path, method: :get do |f| %>
    <div class="search-form-control form-group mb-3">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find a flight" %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      </button>
    </div>
  <% end %>

  <div class="card-trip">
      <% if @flight.photo.attached? %>
        <%= cl_image_tag @flight.photo.key %>
      <% else %>
        <img src="https://www.openfly.fr/contentfiles/content-page-pictures/14309/GE%CC%81NE%CC%81RAL-2.webp" />
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @flight.departure %> - <%=@flight.arrival %> &emsp; &emsp; <%= @flight.price %>€</h2>
        <p>Date: <%= @flight.date %></p>
        <p>Operated by <strong><%= @flight.user.first_name %> <%= @flight.user.last_name %></strong></p>
        <p>Total Capacity: <%= @flight.capacity %></p>
      </div>
      <%# <h2 class="card-trip-pricing"></h2> %>
      <div>
          <%= simple_form_for [@flight, @booking] do |f| %>
            <%= f.submit class: "btn btn-flat mt-4", value: "Book now", data: {turbo_confirm: "Are you sure?"} %>
            <% if policy(@flight).edit? && policy(@flight).destroy? %>
            <%= link_to "Edit", edit_flight_path(@flight), class: "btn btn-dark mt-4" %>
              <%= link_to "Delete", flight_path(@flight), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mt-4" %>
            <% end %>
          <% end %>
      </div>
      <% if @flight.user.photo.key %>
        <%= cl_image_tag @flight.user.photo.key, crop: :thumb, gravity: :face, class: "card-trip-user avatar-bordered" %>
      <% else %>
        <%= image_tag("https://images.assetsdelivery.com/compings_v2/nexusby/nexusby1810/nexusby181000286.jpg", class: "card-trip-user avatar-bordered") %>
      <% end %>
    </div>
  </div>

  <% if current_user == @flight.user %>
  <div>
    <div class="card-product mt-5 mb-2" style="height: 50px; justify-content:center; background-color: #670AFF; color: white;">
      <div class="card-product-infos">
        <h2>Passengers' list :</h2>
      </div>
    </div>
    <% @flight.bookings.each do |booking| %>
      <div class="card-product mt-2 mb-2">
        <% if booking.user.photo.key %>
          <%= cl_image_tag booking.user.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag("https://images.assetsdelivery.com/compings_v2/nexusby/nexusby1810/nexusby181000286.jpg") %>
        <% end %>

        <div class="card-product-infos" style="flex-grow: 1;">
          <h2><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
          <p>Booking ID <strong>#<%= booking.id %></strong></p>
        </div>
        <div>
          <%= link_to "Cancel booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat mt-4 me-4" %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

</div>
