<div class="container pt-3">
  <div>
    <%= link_to "◁ Back to flights", flights_path, class: "btn btn-danger mt-3 mb-3", style: "color: white;" %>
  </div>
  <div class="card-trip">
    <img src="https://www.openfly.fr/contentfiles/content-page-pictures/14309/GE%CC%81NE%CC%81RAL-2.webp" />
    <div class="card-trip-infos">
      <div>
        <h2><%= @flight.departure %> - <%=@flight.arrival %></h2>
        <p>Date: <%= @flight.date %></p>
        <p>Operated by <strong><%= @flight.user.first_name %><%= @flight.user.last_name %></strong></p>
        <p>Total Capacity: <%= @flight.capacity %></p>
      </div>
      <div>
          <%= simple_form_for [@flight, @booking] do |f| %>
            <%= f.submit class: "btn btn-primary mt-4" %>
          <% end %>
      </div>
      <h2 class="card-trip-pricing"><%= @flight.price %>€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/n-fornaro" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
