<div class="container pt-4">
  <h1>Hello, <%= current_user.first_name %> <%= current_user.last_name %> !</h1>

  <div class="card-profile">
    <div class="img-profile">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key %>
      <% else %>
        <%= cl_image_tag("https://images.assetsdelivery.com/compings_v2/nexusby/nexusby1810/nexusby181000286.jpg") %>
      <% end %>
    </div>
    <div class="card-profile-infos">
      <p><strong>Name : </strong></p>
      <%= current_user.first_name %> <%= current_user.last_name %>
    </div>
    <div class="card-profile-infos">
      <p><strong>Email :</strong></p>
      <%= current_user.email %>
    </div>
    <div class="card-profile-infos">
      <p><strong>Pilot :</strong></p>
      <%= current_user.pilot ? "Yes ðŸ›© " : "No ðŸ£"%>
    </div>
      <div><%= link_to "Update profile", edit_user_registration_path, class: "btn btn-info m-2 mt-3 me-5" %></div>
  </div>

  <br>

  <%= render "pilot-profile" %>
  
  <br>
  <%= render "bookings-profile" %>
</div>
