<!DOCTYPE html>
<html>
  <head>
    <title>Blablaflight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <div style="position: relative; height: 0px;">
      <% if notice %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 you successfully signed in to BlaBlaFlight. 🛩</span>
        <a data-bs-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <% end %>

      <% if alert %>
      <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
      <span><strong>Mmh</strong> 🤔 something wrong happened. Please try again.</span>
      <a data-bs-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    BlaBlaFlight is operated with <i class="fas fa-heart"></i> in Marseille !
  </div>
</div>
</html>
